
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animalTable thead {
  text-align: center;
  color: white;
}

.animalTable td {
  color: white;
  text-align: center;
  font-size: 14pt;  
}