.bg {
    background-image: url(../Photos/ManAndDog.jpeg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

#content {
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

#content > * {
    margin-bottom: 40px;
}