body{
    text-align: center;
}

.flex-form input[type="submit"] {
    background: #ef3f5a;
    border: 1px solid #ef3f5a;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .flex-form input[type="submit"]:hover {
    background: #d73851;
    border: 1px solid #d73851;
  }
  
  .flex-form {
    display: flex;
    z-index: 10;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
    justify-content: center; 
  }
  
  .flex-form > * {
    border: 0;
    padding: 0 10px 0 10px;
    background: #fff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
  }
  
  input[type="search"] {
    flex-basis: 500px;
  }

  label{
    height: 100%;
    margin: 0 !important;
    color: #000;
  }